.background{
    width: 300px;
padding: 20px;
border-radius: 20px;

    background:linear-gradient(#bd09b7,#6b4cf5)  ;
    box-shadow: 5px 5px 5px  black;
    color:white;
    margin: 0 auto;
}

input[type=text]{
padding: 7px;
width: 95%;
}

input[type=password]{
    padding: 7px;
    width: 95%;
    }
    
   select{
        padding: 7px;
        
        }
 .boton{
    display: flex;
    justify-content : right;
    
 }